.textColor {
    color: red;
}

.textColor:last-child{
}

.divInner {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    word-wrap: break-word;
}

p{
    margin: 0;
    padding: 0;
}

.textRight {
}
